body {
    font-family: Arial, sans-serif;
    background-color: #727272;
    text-align: center;
    padding: 40px;
  }

body {
  font-size: 18px;
}

@media (max-width: 600px) {
  body {
    font-size: 20px; /* aumenta no celular */
  }
}

  
  #quiz-container {
    margin-bottom: 30px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #927f89;
  }
  
  #objetos-encontrados {
    margin-top: 30px;
    font-size: 1.5em;
  }
  
  .ultrassom {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
  }
  
